{% extends "base.html" %}

{% block title%}Log in {% endblock title %}

{% block content %}
  <h2>Log In</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-success ml-2">log in</button>
  </form>
{% endblock content %}