{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block title%} forget your password? {% endblock title %}
<h1>forget your password</h1>
<p>
    please enter your email adress below,and we will email instructions for setting a new one
 
</p>

{% block content %}
  
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success" value="send me instructions">submit</button>
  </form>
{% endblock content %}