{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block title%} password change {% endblock title %}
<h1>password change</h1>
<p>
    please enter your old password,and then enter your new password twice so we can verify
    your typed in correctly
</p>

{% block content %}
  
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Change my password</button>
  </form>
{% endblock content %}