{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block title%} enter new password  {% endblock title %}


{% block content %}
  <h1>set a new password </h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success" value="change my password"></button>
  </form>
{% endblock content %}