{% extends "base.html" %}

{% block title%} password reset complete  {% endblock title %}

{% block content %}
<h1>password reset complete</h1>
<p>you can log in now <a href="{% url 'login'%}">log in page</a></p>
{% endblock content %}