{% extends "base.html" %}

{% block title%} Password change Successful {% endblock title %}

{% block content %}
<h1>password change successful</h1>
<p>your password was changed .</p>
{% endblock content %}